{% extends "blog/base.html" %}
{% block content %}
{% for month in year_month %}
    <a href="{% url 'goal_form' month.year month.month month.day %}">{{month.month}}</a>
{% endfor %}
<h1>今年の目標</h1>
    {% for goal in goal_all %}
    <p>{{goal.year}}</p>
    {% endfor %}
<h1>{{ month_current.month }}月の目標</h1>
        {% for months, goals in month_goals.items %}
            {% for goal in goals %}
            <p>{{goal.month}}</p>
            <a href="{% url 'goal_update' goal.pk %}">編集</a> <!-- 追加 -->
            {% endfor %}
        {% endfor %}
    <hr>
    {% if day_schedules  %}
    {% else %}
        <form action="" method="POST">
            <p>今年の目標：{{goal_form.year}}</p>
            <p>今月の目標：{{goal_form.month}}</p>
            <button type="submit" class="btn btn-primary">送信</button>
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock %}